body {
  background-color: #0a3d62;
  font-family: Lato, sans-serif;
  color: #fad390;
  text-align: center;
}

.content {
  max-width: 500px;
  margin: 15% auto 0 auto;
}

p {
  font-size: 14pt;
}

a {
  color: #82ccdd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#name {
  font-family: Georgia, serif;
  color: #fa983a;
  text-decoration: None;
}
